{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{home.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="sell">Sell</label>
            <input id="sell" type="text" class="form-control" placeholder="Sell" name="sell" value="{{home.sell}}">
        </div>
        <div class="col">
            <label for="list">List</label>
            <input id="list" type="text" class="form-control" placeholder="List"
                   name="list" value="{{home.list}}">
        </div>
        <div class="col">
            <label for="living">Living</label>
            <input id="living" type="text" class="form-control" placeholder="Living" name="living" value="{{home.living}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="rooms">Rooms</label>
            <input id="rooms" type="text" class="form-control" placeholder="Rooms" name="rooms" value="{{home.rooms}}">
        </div>
        <div class="col">
            <label for="beds">Beds</label>
            <input id="beds" type="text" class="form-control" placeholder="Beds" name="beds" value="{{home.beds}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="baths">Baths</label>
            <input id="baths" type="text" class="form-control" placeholder="Baths"
                   name="baths" value="{{home.baths}}">
        </div>
        <div class="col">
            <label for="age">Age</label>
            <input id="age" type="text" class="form-control" placeholder="Age" name="age" value="{{home.age}}">
        </div>
         <div class="col">
            <label for="acres">Acres</label>
            <input id="acres" type="text" class="form-control" placeholder="Acres" name="acres" value="{{home.acres}}">
        </div>
         <div class="col">
            <label for="taxes">Taxes</label>
            <input id="taxes" type="text" class="form-control" placeholder="Taxes" name="taxes" value="{{home.taxes}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}