{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ home.sell }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">List - {{ home.list }}</li>
        <li class="list-group-item">Living - {{ home.living }}</li>
        <li class="list-group-item">Rooms - {{ home.rooms }}</li>
        <li class="list-group-item">Beds - {{ home.beds }}</li>
        <li class="list-group-item">Baths - {{ home.baths }}</li>
        <li class="list-group-item">Age - {{ home.age }}</li>
        <li class="list-group-item">Acres - {{ home.acres }}</li>
        <li class="list-group-item">Taxes - {{ home.taxes }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{home.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{home.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}
